PORT=3000
DATABASE_URL="file:./dev.db"
REDIS_URL="redis://127.0.0.1:6379"
JWT_SECRET="grambi_unified_secret_key_2026"
ADMIN_EMAIL="tganeshramanan85@gmail.com"
APP_URL="https://grambi.in"

# Gmail SMTP Email Notification Credentials
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER="tganeshramanan85@gmail.com"
SMTP_PASS=""

# Social Media Publishing Credentials
FB_PAGE_ID=""
FB_PAGE_ACCESS_TOKEN=""
TWITTER_API_KEY=""
TWITTER_API_SECRET=""
TWITTER_ACCESS_TOKEN=""
TWITTER_ACCESS_SECRET=""
